.headerdiv{
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    box-shadow: rgba(109, 106, 106, 0.15) 1px 4px 10px 2px;
}

.admin-report {
    .admin-report-table {
        border-collapse: separate;
        border-spacing: 0 8px;
        width: 99% !important;
        margin-top: 20px;
        border: none;

        td,
        th {
            padding: 10px 8px;
            font-size: 13px;
            font-weight: 400;
        }

        th {
            color: rgb(106, 106, 106);
            padding-bottom: 2px;
        }

    }


}

.tableBody{
    overflow-x: scroll;
    font-size: 14px;
    scrollbar-width: none;
  }

  .tableBody::-webkit-scrollbar {
    display: none;
  }

  .ticketTable {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
    margin-top: 20px !important;
  }
  
  
  .ticketTable td {
    border-bottom: 1px solid #dbdbdb;
    padding: 7px 12px;
    margin-bottom: 7px;
    color: black !important;
  }
  
  
  .ticketTable th {
    padding: 3px 12px;
  }
  
  
  .ticketTableRow:hover {
    background-color: #8b8cc7;
    // color: white !important;
    
    // td span{
    //   color: white !important;
    // }
  }
  
  
  
  .ticketTableRow {
    background-color: white;
    color:rgb(39, 38, 38) !important;
  }
  
  .ticketTableRow td span{
    color:rgb(39, 38, 38) !important;
  }
  
  
  .ticketTable th {
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 600;
    font-size: 12px;
  }
  
  .tableEditDiv {
    display: flex;
    justify-content: flex-end;
    margin-right: 23px;
  }

  .taskDashboardTableWidth{
    max-width: 200px;
  }

  .callDate{
    cursor: pointer;
    color: blue !important;
    text-decoration: underline;
  }

  .navHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    height: 52px;
    border-bottom: 1px solid #877c7c;
    font-size: 16px;
    color: black;
  }

  .searchFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    height: 52px;
    border-top: 1px solid #877c7c;
    font-size: 16px;
    color: black;
  }
  
  .filterbody{   
    padding: 15px 15px;
    height: auto;
    max-height: 475px;
    overflow-y: scroll;
    scrollbar-width: none;
    color: black;
  }

  .filterbody::-webkit-scrollbar {
    display: none;
  }

  .datepicker{
    .ui-box{
      width: 100% !important;
    }
  }

  .statusDiv{
    max-width: 200px;
    border-radius: 7px;
    font-size: 13px;
    text-align: center;
    align-items: center;
    display: flex;
  }

  .notassignedStatus{
    background-color: #dfbd61;
    color: rgb(238, 112, 8);
  }

  .openStatus{
    background-color: #95aeca;
    color: rgb(0, 26, 255);
  }

  .closedStatus{
    background-color: #9fd6a1;
    color: rgb(0, 128, 0);
  }

  .observationStatus{
    background-color: #f1ec98;
    color: rgb(255, 0, 0);
  }