.headerdiv {
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-shadow: rgba(109, 106, 106, 0.15) 1px 4px 10px 2px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.bodyContainer {
  margin-top: 55px;
  padding: 10px;
  background-color: rgb(228, 229, 230);
  display: flex;
}

.leftPart {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rightPart {
  width: 50%;
  margin-top: 90px;
}

.title {
  font-size: 40px;
  font-family: "Arial, Helvetica, sans-serif";
}

.subtitle {
  font-size: 34px;
  font-family: "Arial, Helvetica, sans-serif";
  margin-bottom: 10px;
}

.redTag {
  color: #f70606 !important;
}

.greenTag {
  color: #096109 !important;
}

.blueTag {
  color: #2525aa !important;
}

.description {
  font-size: 15px;
}

.mt_15{
  margin-top: 15px;
}

.pointer{
  cursor: pointer;
}

.loaderdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.responseBody{
  margin-top: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: math;
}