.headerdiv {
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-shadow: rgba(109, 106, 106, 0.15) 1px 4px 10px 2px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 2;
}

.bodyContainer {
  margin-top: 55px;
  padding: 10px;
  // background-color: rgb(228, 229, 230);
  display: flex;
}

.leftPart {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rightPart {
  margin-top: 90px;
  img {
    width: 100%;
  }
}

.title {
  font-size: 40px;
  font-family: "Arial, Helvetica, sans-serif";
}

.subtitle {
  font-size: 34px;
  font-family: "Arial, Helvetica, sans-serif";
  margin-bottom: 10px;
}

.redTag {
  color: #f70606 !important;
}

.greenTag {
  color: #096109 !important;
}

.blueTag {
  color: #2525aa !important;
}

.description {
  font-size: 15px;
}

.mt_15{
  margin-top: 15px;
}

.pointer{
  cursor: pointer;
}

.loaderdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.responseBody{
  margin-top: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: math;
}

.status {
  border-radius: 3px;
  font-size: 13px;
  padding: 4px 10px;
  color: #fff;
  width: 70px;
  text-align: center;
}

.positive {
  background-color: rgb(107, 183, 0);
}
.nagative {
  background-color: rgb(196, 49, 75);
}
.neutral {
  background-color: rgb(91, 95, 199);
}
.mixed {
  background-color: rgb(224, 224, 224);
}

table.table {
  font-size: 13px;
}
table.table thead th {
  border-top: none;
  background-color: #10446f;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}
table.table tbody tr td {
  vertical-align: middle;
    font-size: 13px;
    padding: 10px;
}

table {
  background-color: #fff;
}
.url_link {
  color: #4285f4;
  cursor: pointer;
  margin-bottom: 0;
  word-break: break-all;

}

.fileurl{
  width: 65% !important;
    word-wrap: break-word;
}
.tbl_buton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  border: none;
  border: 1px solid #10446f;
  background-color: #fff;
  color: #10446f;
  padding: 0 2px;
  svg {
    margin-top: -3px;
  }
}
.navigation {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 10px;
    a {
      color: black;
      font-size: 14px;
      &:hover {
        color: #007bff;
        border-bottom: 2px solid #007bff;
      }
      &.active {
        font-weight: 600;
        color: #007bff;
        border-bottom: 2px solid #007bff;
      }
    }
  }
}