.detailedView{
    body {
  background-color: #f5f5f5;
}
h5 {
  display: block;
  font-size: 18px;
  /* margin-block-start: 1em;
    margin-block-end: 1em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0;
  font-weight: 700;
}
h4 {
  display: block;
  font-size: 20px;
  /* margin-block-start: 1em;
  margin-block-end: 1em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0;
  font-weight: 700;
}
.btn_minw_100 {
  min-width: 100% !important;
}
.custom-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  // border: 1px solid #A6A7DC;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.ms-Pivot {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 15px;
}
input[type="text"] {
  width: 100%;
}
.ui-menu {
  border: none !important;
  box-shadow: 0px 1px 3px #0000001a;
  // background-color: #fff !important;
  overflow: hidden;
}
.ui-menu__itemwrapper {
  box-shadow: none !important;
}
.ui-menu__item {
  padding: 9px 10px !important;
}
.meeting-card {
  background-color: #fff;
  border-radius: 4px;
  border-top: 2px solid #6264a7;
  box-shadow: 0px 1px 3px #0000001a;
  margin-bottom: 20px;
}
.meeting-card-header {
  background-color: #e9eaf6;
  padding: 6px 2px 6px 10px;
}
.meeting-card-body {
  padding: 10px;
}

.menuTab ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 3px #0000001a;
  border-radius: 4px;
  width: max-content;
  overflow: hidden;
}
.menuTab ul li {
  display: inline-block;
  line-height: 32px;
  height: 32px;
  font-size: 14px;
  color: #7a7a7a;
  padding: 0 13px;
}
.menuTab ul li.active {
  background-color: #5b5fc7;
  color: #fff;
  font-weight: 600;
}

.pikdate {
  width: 100%;
  [data-aa-class="Datepicker__input"] {
    width: calc(100% - 32px);
  }
  input[type="text"] {
    width: 100%;
    padding-right: 10px;
  }
  button {
    box-shadow: none;
  }
}
.inline-date {
  [data-aa-class="Datepicker__input"] {
    width: 100%;
  }
  input[type="text"] {
    padding: 5px 10px;
    width: 100%;
  }
}
.ui-dropdown__selected-items {
  span {
    font-weight: 400;
  }
}
.create_meeting_card {
  padding: 32px;
  width: 1208px;
  height: 700px;
}
.rdw-editor-toolbar {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  background: rgba(0, 0, 0, 0.1) !important;
}
.rdw-editor-main {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-height: 140px;
  padding: 12px;
}
.public-DraftStyleDefault-block {
  margin: 0 !important;
}
.rdw-option-wrapper {
  padding: 14px 7px !important;
}
.rdw-dropdown-wrapper {
  font-size: 13px !important;
}
.rdw-dropdown-wrapper span {
  color: #000;
}
.rdw-dropdown-selectedtext {
  text-decoration: none;
}
/* LIST */
/* ================== */

.files-dropzone-list {
  vertical-align: middle;
  text-align: center;
  padding: 7px;
  border: 2px dashed rgba(83, 85, 147, 0.6);
  cursor: pointer;
  background-color: rgba(83, 85, 147, 0.16);
  border-radius: 4px;
  color: #5b5fc7;
  font-weight: 600;
  transition: ease all 0.3s;
  &:hover {
    background-color: rgba(83, 85, 147, 0.32);
  }
}

.files-buttons {
  border-top: 1px solid #d3d3d3;
  cursor: pointer;
}
.files-button-submit {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 50%;
  box-sizing: border-box;
  border-right: 1px solid #d3d3d3;
}
.files-button-submit:before {
  content: "Submit";
}
.files-button-clear {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 50%;
  box-sizing: border-box;
}
.files-button-clear:before {
  content: "Clear";
}

.files-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.files-list li:last-child {
  border: none;
}
.files-list-item {
  background-color: rgba(245, 245, 245, 0.8);
  margin-bottom: 3px;
  padding: 5px;
  border-radius: 4px;
  .files-list-item-content {
    float: left;
    padding-left: 10px;
    width: calc(100% - 130px);
    .files-list-item-content-item {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &.files-list-item-content-item-1 {
        font-size: 12px;
        font-weight: 600;
        color: #616161;
      }
      &.files-list-item-content-item-2 {
        font-size: 10px;
        font-weight: 400;
        color: #616161;
      }
    }
  }
  .files-list-item-preview {
    width: 32px;
    float: left;
    border-radius: 3px;
    overflow: hidden;
    .files-list-item-preview-image {
      height: 100%;
      width: 100%;
    }
    .files-list-item-preview-extension {
      text-align: center;
      line-height: 32px;
      color: #616161;
      background-color: #d3d3d3;
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box;
      border-radius: 3px;
    }
  }
  .files-list-item-remove {
    height: 32px;
    width: 20px;
    float: right;
    cursor: pointer;
    //background: url(../src/images/times-solid.svg) no-repeat center center;
  }
}

.files-list-item-remove-image {
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-right: 10px;
  float: right;
}

/* GALLERY */
/* ================== */

.files-dropzone-gallery {
  padding: 10px;
  border: 1px dashed #d3d3d3;
  min-height: 300px;
  width: 500px;
}
.files-gallery-item {
  height: 80px;
  margin: 5px;
}

.files-dropzone-active {
  border: 1px solid lightgreen;
  color: lightgreen;
}

.meeting_view_card {
  padding: 32px;
  width: 840px;
  height: 600px;
}
.create_task_card {
  padding: 32px;
  width: 600px;
}

.meeting_panel {
  width: 320px;
  height: 720px;
  .topbar {
    border-bottom: 2px solid #1b1a1a;
  }
  .panel_body {
    height: 665px;
    overflow: auto;
    .task_accordion_panel {
      border-bottom: 1px solid #1b1a1a;
      .accordion {
        box-shadow: #00000040 0px 1px 3px;
        .accordion-item {
          background-color: #363636;
          border: none;
          .accordion-header {
            margin-bottom: 1px;
            .accordion-button {
              background-color: #363636;
              padding: 0.5rem;
              font-size: 12px;
              font-weight: 600;
              color: #adadad;
              &:focus {
                box-shadow: none;
              }
              &:before {
                flex-shrink: 0;
                width: 1.25rem;
                height: 1.25rem;
                content: "+";
                font-size: 16px;
                text-align: center;
                background-image: none;
                background-repeat: no-repeat;
                background-size: 1.25rem;
                transition: transform 0.2s ease-in-out;
              }
              &:not(.collapsed) {
                color: #5b5fc7;
                box-shadow: none;
                &:before {
                  content: "-";
                }
              }
              &:after {
                display: none;
              }
            }
          }
          .accordion-body {
            padding: 0.5rem 0.75rem;
            .task_item {
              background-color: #3e3e3e;
              border-radius: 4px;
              padding: 8px 36px 8px 8px;
              margin-bottom: 5px;
              font-size: 12px;
              position: relative;
              overflow: hidden;
              box-shadow: #00000040 0px 1px 3px;
              p {
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              .arrow_pointer {
                background-color: #5b5fc7;
                padding: 7px;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .file_upload_panel {
      .files-dropzone-list {
        vertical-align: middle;
        text-align: center;
        padding: 6px;
        border: none;
        cursor: pointer;
        background-color: #5b5fc7;
        border-radius: 4px;
        color: #fff;
        font-weight: 500;
        transition: ease all 0.3s;
        &:hover {
          background-color: #7a80eb;
        }
      }
    }
    .files-list {
      .files-list-item {
        background-color: #363636;
        .files-list-item-content {
          .files-list-item-content-item-1 {
            color: #adadad;
          }
          .files-list-item-content-item-2 {
            color: #adadad;
          }
        }
      }
      .files-list-item-preview {
        .files-list-item-preview-extension {
          background-color: #4e4e4e;
          color: #838383;
          font-size: 12px;
        }
      }
    }
  }
}
// table style
.table {
  color: transparent;
  thead {
    tr {
      th {
        border: none;
      }
    }
  }
  tr {
    td {
      padding: 0.625rem 0.5rem;
      border-color: rgba(0, 0, 0, 0.12);
      vertical-align: middle;
    }
  }
}

// Bootstrap Tab
.nav-tabs {
  border-bottom: none;
  .nav-item {
    padding-right: 14px;
    &:last-child {
      padding-right: 0px;
    }
    button.nav-link {
      padding: 0.5rem 0;
      border: none;
      border-bottom: 2px transparent;
      color: #7a7a7a;
      &.active {
        background-color: transparent;
        color: #5b5fc7;
        font-weight: 600;
        border-bottom: 2px solid #5b5fc7;
      }
    }
  }
}

.checklists {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  .checklist_item {
    background-color: rgba(91, 95, 199, 0.1);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
.task_update_card {
  padding: 32px;
  width: 1208px;
  height: 660px;
  .accordion {
    box-shadow: none;
    .accordion-item {
      background-color: transparent;
      border: 1px solid rgba(91, 95, 199, 0.3);
      // background-color: rgba(0, 0, 0, 0.06);
      //border: 1px solid rgba(0, 0, 0, .20);
      .accordion-header {
        margin-bottom: 1px;
        .accordion-button {
          background-color: transparent;
          padding: 0.5rem;
          font-size: 14px;
          font-weight: 600;
          color: #616161;
          &:focus {
            box-shadow: none;
          }
          &:after {
            background-image: none;
            flex-shrink: 0;
            width: 1.25rem;
            height: 1.25rem;
            content: "+";
            font-size: 22px;
            line-height: 1rem;
            color: #8a8a8a;
            text-align: center;
            background-image: none;
            background-repeat: no-repeat;
            background-size: 1.25rem;
            transition: transform 0.2s ease-in-out;
          }
          &:not(.collapsed) {
            color: #5b5fc7;
            box-shadow: none;
            &:after {
              content: "-";
            }
          }
          // &:after {
          //   display: none;
          // }
        }
      }
      .accordion-body {
        padding: 0.5rem 0.75rem;
      }
    }
  }
  .create_checklist {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    .checklist_item {
      background-color: rgba(91, 95, 199, 0.1);
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 8px;
    }
  }
}
.ui-alert {
  .ui-box {
    height: auto;
    width: auto;
  }
}
.filter_sec {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

//--------------------------------------------------------------------------///
// Service Desk Teams App Style
//--------------------------------------------------------------------------///

$small-screen: 600px;
$medium-screen: 767px;
$large-screen: 1200px;

a {
  text-decoration: none;
}
.task_module_content_container {
  padding: 32px;
  width: 900px;
  height: 600px;
  @media screen and (max-width: $medium-screen) {
    width: 100%;
    height: auto;
    padding: 16px;
  }
  .details_quick_view {
    background: #fafafa;
    border-radius: 4px;
    padding: 12px;
  }
  .status {
    border-radius: 3px;
    padding: 3px 15px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    &.open {
      background: #cfd0fe;
      color: #3d3e66;
    }
  }
  .activity-timeline {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
    @media screen and (max-width: $medium-screen) {
      padding: 15px;
    }
    .activity_item {
      position: relative;
      margin-left: 112px;
      border-left: 1px solid #e0e0e0;
      position: relative;
      padding-bottom: 20px;
      @media screen and (max-width: $medium-screen) {
        margin-left: 80px;
      }
      .dateTime {
        position: absolute;
        top: 0;
        left: -112px;
        width: 90px;
        @media screen and (max-width: $medium-screen) {
          left: -80px;
          width: 70px;
        }
      }
      .activity_point {
        width: 22px;
        height: 22px;
        background: #e0e0e0;
        border-radius: 50%;
        position: absolute;
        left: -11px;
        top: 0;
        .highlight {
          border-radius: 50%;
          height: 12px;
          width: 12px;
          background: #6264a7;
          margin: 0 auto;
          margin-top: 5px;
        }
      }
    }
    .activity_content {
      margin-left: 36px;
      .details {
        background: #fff;
        border: 1px solid #ebebeb;
        border-radius: 4px;
        padding: 10px;
      }
    }
  }
  .user_action_header_info {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .ui-input {
    width: 100% !important;
  }

  .files-dropzone-list {
    vertical-align: middle;
    text-align: center;
    padding: 7px;
    border: 1px dashed #c1c1c1;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #5b5fc7;
    font-weight: normal;
    transition: ease all 0.3s;
    &:hover {
      background-color: #e9eaf6;
    }
  }
  .files-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .files-list li:last-child {
    border: none;
  }
  .files-list-item {
    background-color: rgba(245, 245, 245, 0.8);
    margin-bottom: 3px;
    padding: 5px;
    border-radius: 4px;
    .files-list-item-content {
      float: left;
      padding-left: 10px;
      width: calc(100% - 130px);
      .files-list-item-content-item {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.files-list-item-content-item-1 {
          font-size: 12px;
          font-weight: 600;
          color: #616161;
        }
        &.files-list-item-content-item-2 {
          font-size: 10px;
          font-weight: 400;
          color: #616161;
        }
      }
    }
    .files-list-item-preview {
      width: 32px;
      float: left;
      border-radius: 3px;
      overflow: hidden;
      .files-list-item-preview-image {
        height: 100%;
        width: 100%;
      }
      .files-list-item-preview-extension {
        text-align: center;
        line-height: 32px;
        color: #616161;
        background-color: #d3d3d3;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
        border-radius: 3px;
      }
    }
    .files-list-item-remove {
      height: 32px;
      width: 20px;
      float: right;
      cursor: pointer;
     // background: url(../src/images/times-solid.svg) no-repeat center center;
    }
  }
}
.rdt_Pagination {
  background-color: #f5f5f5 !important;
}
.rdt_TableRow:hover {
  background-color: #ffffff !important;
}


.caseNumber{
  color: #5b5fc7;
  font-weight: 600;
}

}